* {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

.container {
    width: 90%;
    padding: 1rem;
    margin: 0 auto;
}

.title {
    margin-top: 0.2rem;
    font-size: 1.2rem; /* Tamaño reducido */
    color: #000;
}

.breadcrumb {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.7rem; /* Tamaño reducido */
    margin-top: 0.5rem;
}

.breadcrumb a {
    text-decoration: none;
    color: black;
    margin: 0 5px;
}

.breadcrumb a:hover {
    text-decoration: underline;
}

.breadcrumb span {
    margin: 0 5px;
    color: black;
}

.breadcrumb i {
    margin: 0 5px;
    color: black;
}

.description {
    font-size: 0.9rem; /* Tamaño reducido */
    width: 60%;
}

/* Filtros */

/* Estilo para mostrar/ocultar el contenido del filtro */
.filter-content {
    display: none;
}

.filter-item {
    margin-bottom: 16px; /* Espaciado inferior para cada filtro */
}

.filter-item.open .filter-content {
    display: block;
}

.filter-item.open .filter-content ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 4 columnas */
        gap: 10px;
        padding: 0;
        list-style: none;
        margin: 0;
        align-items: start; /* Alinea los ítems al inicio de la fila */
    }

    .filter-item.open .filter-content ul li {
        display: flex;
        align-items: center; /* Centra el contenido verticalmente */
        justify-content: flex-start;
        padding: 8px;
        background-color: #f9f9f9;
        border-radius: 4px;
        transition: background-color 0.2s ease-in-out;
        min-height: 40px; /* Define una altura mínima uniforme para los ítems */
        box-sizing: border-box; /* Incluye padding y borde en el cálculo de la altura */
        margin: 0; /* Asegúrate de que no haya margen adicional */
    }


.filter-item.open .filter-content ul li:hover {
    background-color: #f0f0f0;
}
.filter-item.open .filter-content ul li input[type="checkbox"] {
    margin-right: 8px;
    accent-color: #4caf50;
    transform: scale(1.2);
    transition: transform 0.2s ease-in-out;
}
.filter-item.open .filter-content ul li input[type="checkbox"]:hover {
    transform: scale(1.3);
}
/* Estilos para el rango de precios */
.range-slider {
    height: 8px;
    background: #ddd;
    border-radius: 4px;
    position: relative;
    margin-top: 8px;
}
.range-slider::before {
    content: "";
    display: block;
    height: 100%;
    background: #4caf50;
    border-radius: 4px;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    transition: width 0.3s;
}

/* Estilos para los checkboxes ocultos */
.tallas-checkbox {
    display: none;
}
#tallas-table td {
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

#tallas-table td:hover {
    background-color: #f0f0f0;
    color: #333;
}
/* Estilo visual para las celdas seleccionadas */
td.selected {
    background-color: #4caf50; /* Cambiado el color de fondo a verde */
    color: #fff; /* Color de texto blanco para contraste */
    font-weight: bold;
    border-radius: 4px;
}

/* Estilos personalizados para el filtro de botones */
.filter-btn {
    background: linear-gradient(135deg, #6b73ff 0%, #000dff 100%);
    color: white;
    text-align: center;
    border: none;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.filter-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Estilos para el contenido de los filtros */
.filter-content {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s, transform 0.3s;
}

.filter-item.open .filter-content {
    opacity: 1;
    transform: translateY(0);
}

/* Estilos personalizados para el botón de aplicar filtros */
.apply-filters-btn {
    background: linear-gradient(135deg, #f09433 0%, #e6683c 50%, #dc2743 100%);
    color: white;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
}

.apply-filters-btn:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(    0, 0, 0, 0.2);
}

.products-container {
    margin-top: 0.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, 1fr));
    gap: 2rem;
}

.product {
    border: 1px solid #ddd;
    padding: 0.5rem;
    width: 100%;
    background: #fff;
}

.product img {
    width: 100%;
    height: auto;
    max-height: 15rem; /* Tamaño ajustado */
    object-fit: cover;
    transition: transform 0.3s ease;
}

.product h3 {
    padding: 0.5rem 0;
    font-size: 0.8rem; /* Tamaño reducido */
    color: #444;
}

.price {
    font-size: 0.8rem; /* Tamaño reducido */
    color: #444;
}

.product:hover {
    outline: .1rem solid #222;
}

.product:hover img {
    transform: scale(0.95);
}

.product:hover h3 {
    color: #0a95cc;
}

.product:hover .price {
    color: #0a95cc;
}

.products-preview {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    align-items: center;
    justify-content: center;
}

.products-preview .preview {
    display: none;
    margin-top: 50px;
    padding: 1rem;
    background: #fff;
    position: relative;
    width: 100%;
    max-width: 890px; /* Tamaño ajustado */
    height: auto;
}

.products-preview .preview.active {
    display: flex;
}

.products-preview .preview .content {
    display: flex;
    width: 100%;
    margin-bottom: 1rem;
}

.products-preview .preview .preview-image {
    width: 50%; /* Ocupa el  del ancho del contenedor padre */
    padding: 1rem; /* Espacio alrededor de la imagen */
    text-align: center; /* Centra la imagen dentro del contenedor */
}

.products-preview .preview .preview-image img {
    width: 100%; /* La imagen ocupa el 100% del ancho de su contenedor */
    max-height: 22rem; /* Limita la altura máxima de la imagen */
    object-fit: cover; /* Ajusta la imagen para cubrir el área del contenedor, manteniendo la proporción */
}


.products-preview .preview .info {
    width: 50%;
    padding: 0.5rem;
    text-align: center;
}

.size-table {
    margin: 5px;
}

.size-table-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.7rem; /* Tamaño reducido */
}

.size-table-table td {
    padding: 4px;
    text-align: center;
    border: 1px solid #ddd;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.products-preview .preview .fa-times {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    color: #444;
    font-size: 1.5rem; /* Tamaño reducido */
}

.products-preview .preview .fa-times:hover {
    transform: rotate(90deg);
}

.products-preview .preview h3 {
    color: #444;
    padding: 0.5rem 0;
    font-size: 1rem; /* Tamaño reducido */
}

.products-preview .preview p {
    line-height: 1.5;
    padding: 1rem 0;
    font-size: 0.8rem; /* Tamaño reducido */
    color: #777;
}

.products-preview .preview .price {
    padding: 1rem 0;
    font-size: 1rem; /* Tamaño reducido */
    color: #0d0e0d;
}

.features {
    text-align: center;
    margin: 1rem 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 0.7rem; /* Tamaño reducido */
}

thead th.features-title {
    font-size: 0.8rem; /* Tamaño reducido */
    padding: 8px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    text-align: center;
}

th, td {
    padding: 4px;
    border: 1px solid #ddd;
}

th {
    text-align: left;
    background-color: #f4f4f4;
    font-weight: bold;
}

td {
    text-align: left;
}

/* Estilo para tallas agotadas */
  .agotada {
    background-color: #fee2e2; /* Tailwind: bg-red-100 */
    color: #f87171; /* Tailwind: text-red-600 */
    cursor: not-allowed; /* Tailwind: cursor-not-allowed */
    position: relative;
    overflow: hidden;
  }

  .agotada::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120%;
    height: 2px;
    background: currentColor;
    transform: rotate(-45deg);
    transform-origin: center;
    z-index: 1;
    animation: strike 1s infinite;
  }

  .agotada::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120%;
    height: 2px;
    background: currentColor;
    transform: rotate(45deg);
    transform-origin: center;
    z-index: 1;
    animation: strike 1s infinite;
  }

  @keyframes strike {
    0% {
      transform: rotate(-45deg) translateX(-100%);
    }
    50% {
      transform: rotate(-45deg) translateX(0);
    }
    100% {
      transform: rotate(-45deg) translateX(100%);
    }

  }

.products-preview .preview .buttons {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin-top: 1rem;
    justify-content: center;
}

.products-preview .preview .buttons a {
    flex: 1 1 calc(50% - 1rem); /* Ocupa el 50% del contenedor menos el espacio de gap */
    padding: 0.5rem;
    font-size: 0.8rem; /* Tamaño reducido */
    color: #444;
    border: 0.1rem solid #444;
    text-align: center;
    box-sizing: border-box; /* Incluye padding y border en el ancho total */

}

.products-preview .preview .buttons button {
    flex: 1 1 calc(50% - 1rem); /* Ocupa el 50% del contenedor menos el espacio de gap */
    padding: 0.5rem;
    font-size: 0.8rem; /* Tamaño reducido */
    color: #444;
    border: 0.1rem solid #444;
    text-align: center;
    box-sizing: border-box; /* Incluye padding y border en el ancho total */

}


.products-preview .preview .buttons button.cart {
    background: #444;
    color: #fff;
}

.products-preview .preview .buttons button.cart:hover {
    background: #111;
}

.products-preview .preview .buttons a.buy {
    background: #444;
    color: #fff;
}

.products-preview .preview .buttons a.buy:hover {
    background: #111;
}





@media (max-width: 768px) {

    th {
        display: none; /* Oculta todos los encabezados */
    }

    /* Muestra las celdas de datos en pantallas pequeñas */
    td {
        display: table-cell; /* Asegura que las celdas se muestren */
        padding: 8px; /* Añade un poco de espacio */
        text-align: left; /* Alinea el texto a la izquierda */
        position: relative; /* Necesario para el pseudo-elemento */
    }

    /* Estilo para mostrar el nombre del encabezado antes de la celda */
    td::before {
        content: attr(data-label); /* Usa el valor de data-label como contenido */
        font-weight: bold; /* Resalta el nombre del encabezado */
        display: block; /* Muestra el contenido en una nueva línea */
        margin-bottom: 4px; /* Espacio debajo del encabezado */
    }
    
    .title {
        font-size: 1rem; 
    }

    .breadcrumb {
        font-size: 0.6rem; 
    }

    .description {
        font-size: 0.8rem; 
    }

    .products-container {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    .product h3 {
        font-size: 0.7rem; 
    }

    .product .price {
        font-size: 0.7rem; 
    }

    .products-preview .preview {
        width: 95%; 
    }

    .products-preview .preview h3 {
        font-size: 0.9rem; 
    }

    .products-preview .preview p {
        font-size: 0.7rem; 
    }

    .products-preview .preview .price {
        font-size: 0.9rem; 
    }

    .products-preview .preview .buttons a {
        font-size: 0.7rem; 
    }
}

@media (max-width: 640px) {
    /* Oculta los encabezados (th) en pantallas pequeñas */
    th {
      display: none; /* Oculta todos los encabezados */
    }
  
    /* Muestra las celdas de datos en pantallas pequeñas */
    td {
      display: table-cell; /* Asegura que las celdas se muestren */
      padding: 8px; /* Añade un poco de espacio */
      text-align: left; /* Alinea el texto a la izquierda */
      position: relative; /* Necesario para el pseudo-elemento */
    }
  
    /* Estilo para mostrar el nombre del encabezado antes de la celda */
    td::before {
      content: attr(data-label); /* Usa el valor de data-label como contenido */
      font-weight: bold; /* Resalta el nombre del encabezado */
      display: block; /* Muestra el contenido en una nueva línea */
      margin-bottom: 4px; /* Espacio debajo del encabezado */
    }
}
  

@media (max-width: 480px) {
    
     th {
        display: none; /* Oculta todos los encabezados */
    }

    /* Muestra las celdas de datos en pantallas pequeñas */
    td {
        display: table-cell; /* Asegura que las celdas se muestren */
        padding: 8px; /* Añade un poco de espacio */
        text-align: left; /* Alinea el texto a la izquierda */
        position: relative; /* Necesario para el pseudo-elemento */
    }

    /* Estilo para mostrar el nombre del encabezado antes de la celda */
    td::before {
        content: attr(data-label); /* Usa el valor de data-label como contenido */
        font-weight: bold; /* Resalta el nombre del encabezado */
        display: block; /* Muestra el contenido en una nueva línea */
        margin-bottom: 4px; /* Espacio debajo del encabezado */
    }
    .title {
        font-size: 0.8rem; 
    }

    .breadcrumb {
        font-size: 0.5rem; 
    }

    .description {
        font-size: 0.7rem; 
    }

    .products-container {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }

    .product h3 {
        font-size: 0.6rem; 
    }

    .product .price {
        font-size: 0.6rem; 
    }

    .products-preview .preview {
        width: 100%; 
    }

    .products-preview .preview h3 {
        font-size: 0.8rem; 
    }

    .products-preview .preview p {
        font-size: 0.6rem; 
    }

    .products-preview .preview .price {
        font-size: 0.8rem; 
    }

    .products-preview .preview .buttons a {
        font-size: 0.6rem; 
    }
}

